---
import {Image} from "astro:assets"

const {tituloSec,tituloM, descM, imagenM ,tituloV , descV, imagenV, } = Astro.props
---
<section class="py-16 px-8 bg-gradient-to-r">
    <div class="max-w-6xl mx-auto">
        <div class="text-center mb-16">
            <h2 class="titulos-gen">
                {tituloSec}
            </h2>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
                <div class="sello-cont">
                    <div class="sello-img">
                        <div class="w-full h-48 overflow-hidden">
                            <Image src={imagenM} alt="mision" class="w-full h-full object-cover" />
                        </div>
                    </div>
                    <h3 class="sello-tit">
                        {tituloM}
                    </h3>
                    <p class="desc">
                        {descM}
                    </p>
                </div>
                <div class="sello-cont">
                    <div class="sello-img">
                        <div class="w-full h-48 overflow-hidden">
                            <Image src={imagenV} alt="mision" class="w-full h-full object-cover" />
                        </div>
                    </div>
                    <h3 class="sello-tit">
                        {tituloV}
                    </h3>
                    <p class="desc">
                        {descV}
                    </p>
                </div>
            </div>
    </div>
</section>